body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 20px;
  color: #555555;
  padding: 0 10px;
  font-family: Spectral;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-top: 48px;
  margin-bottom: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a, a:visited {
  color: #0679a7;
}

a:active, a:focus {
  outline: 0;
}

code {
  font-family: Fira Mono;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}

/* frontpage title */
.meta {
  text-align: center;
  margin-bottom: 48px;
}

.meta h2 {
  margin-top: 12px;
}

/* frontpage index */
.post-summary {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title date"
    "description .";
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-summary .title {
  grid-area: title;
  font-size: 24px;
}

.post-summary .date {
  grid-area: date;
  text-align: right;
  font-size: 16px;
}

.post-summary .description {
  grid-area: description;
  font-size: 16px;
}

.posts a {
  color: #555555;
  text-decoration: none;
}

.posts a:hover {
  color: #0679a7;
}

.posts a:active, .posts a:focus {
  outline: 0;
}
