body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 20px;
  color: #555;
  padding: 0 10px;
  font-family: Spectral;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-top: 48px;
  margin-bottom: 0px;
  font-family: Rubik;
}

pre > code {
  font-family: Fira Mono;
}
