{{ partial "header.html" . }}

{{ .Content }}

<div class="meta">
  <h1>{{ .Site.Params.author }}</h1>
  <h2>{{ .Site.Params.description }}</h2>
</div>

<div class="posts">
{{ range where .Site.RegularPages "Section" "blog" }}
  <a href={{ .Permalink }}>
    <div class="post-summary">
      {{ if .Draft }}
        <div class="title">DRAFT: {{ .Title }}</div>
      {{ else }}
        <div class="title">{{ .Title }}</div>
      {{ end }}
      <div class="date">{{ .Date.Format .Site.Params.dateform }}</div>
      <div class="description">{{ .Description }}</div>
      <div class="minutes">{{ .ReadingTime }} minute read</div>
    </div>
  </a>
{{ end }}
</div>

{{ partial "footer.html" . }}
