{{ partial "header.html" . }}

<div class="main">
  {{ .Content }}
  <div style="text-align: right">
    <a href="/about">About</a>
  </div>

  <div class="meta">
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.description }}</h2>
  </div>

  <div class="posts">
  {{ range where .Data.Pages "Section" "blog" }}
    <a href={{ .Permalink }}>
      <div class="post-summary">
        {{ if .Draft }}
          <div class="title">DRAFT: {{ .Title }}</div>
        {{ else }}
          <div class="title">{{ .Title }}</div>
        {{ end }}
        <div class="date">{{ .Date.Format .Site.Params.dateform }}</div>
        <div class="description">{{ .Description }}</div>
      </div>
    </a>
  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
