{{ partial "header.html" . }}

<div class="meta">
  <h1>{{ .Site.Params.author }}</h1>
  <h2>{{ .Site.Params.description }}</h2>
  <h3><script type="text/javascript" src="date.js"></script> </h3>
  <p>oweng at ucsd edu</p>
  <a href="weng_cv.pdf">Curriculum vitae</a>
</div>

{{ .Content }}

<div class="posts">
<h2>Blog</h2>
{{ range where .Site.RegularPages "Section" "blog" }}
  <a href={{ .Permalink }}>
    <div class="post-summary">
      {{ if .Draft }}
        <div class="title">DRAFT: {{ .Title }}</div>
      {{ else }}
        <div class="title">{{ .Title }}</div>
      {{ end }}
      <div class="date">{{ .Date.Format .Site.Params.dateform }}</div>
      <div class="description">{{ .Description }}</div>
      <div class="minutes">{{ .ReadingTime }} minute read</div>
    </div>
  </a>
{{ end }}
</div>

{{ partial "footer.html" . }}
